{{- $editors := site.Data.editors -}}
{{- if $editors -}}
<ul class="editors-list">
  {{- range $editors -}}
  {{- $e := . -}}
  <li>
    <a href="{{ $e.url | default (printf "https://github.com/%s" $e.login) }}" target="_blank" rel="noopener" class="link">
      {{- if $e.name }}{{ $e.name }} <span class="editors-username">(@{{ $e.login }})</span>{{ else }}{{ $e.login }}{{ end -}}
    </a>
  </li>
  {{- end -}}
</ul>
<p class="editors-source">List synced from the <a href="https://github.com/orgs/genomicsxai/teams/editors" target="_blank" rel="noopener" class="link">@genomicsxai/editors</a> GitHub team.</p>
{{- else -}}
<p>Editor list is populated automatically when the site is built with access to the GitHub team. See the <a href="https://github.com/orgs/genomicsxai/teams/editors" target="_blank" rel="noopener" class="link">@genomicsxai/editors</a> team on GitHub.</p>
{{- end -}}
